<main>
    <div id="container">
        <h2>Webbutveckling | Ramschema</h2>

        <div id="input">
            <label for="search">Sök</label>
            <input type="text" id="search" name="search" [(ngModel)]="searchInput" (ngModelChange)="searchTable()">
        </div>

        @if(courseList.length === 0) {
            <p>Vi kunde hitta några kurser för Webbutvecklingsprogrammet..</p>
        }
        <table>
            <thead>
                <th (click)="sortName()">Kursnamn</th>
                <th (click)="sortCode()">Kurskod</th>
                <th (click)="sortProg()">Prog&shy;ression</th>
            </thead>
            <tbody>
                <tr *ngFor="let course of courseList">
                    <td class="tableName">{{ course.coursename }}</td>
                    <td class="tableCode">{{ course.code }}</td>
                    <td class="tableProg">{{ course.progression }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</main>
